# Current list of required permissions to deploy everything (based on an Account API Token):
#
# Entire Account:
#   Developer Platform:
#       D1 : Edit
#       Workers KV Storage : Edit
#       Workers Scripts : Edit
#       Workers Tail : Read
#   Cloudflare One / Zero Trust:
#       Access : Edit
#       Access: Identity Providers : Read
# <your-domain>:
#   DNS & Zones:
#       DNS : Write     
# 
CLOUDFLARE_API_TOKEN="<from-dashboard>"
CLOUDFLARE_ACCOUNT_ID="<from-dashboard>"
CLOUDFLARE_ZONE_ID="<from-dashboard>"
CLOUDFLARE_TEAM_DOMAIN="your-team.cloudflareaccess.com"
DEMO_DOMAIN="cfapps.uk"
DEMO_NAME="this-demo"
